#integrator-notes li {
    margin-bottom: 1em;
    background: #efefef;
    padding: 0.5em;
}
.citation {
    background: #dddddd;
}
#csl-outer-block {
    max-width: 50em;
    padding: 10px;
}
#csl-inner-block {
    max-width: 50em;
    bottom: 17em;
    left: 2em;
    padding: 10px;
}
#csl-content-block {
    background:white;
    /*border: solid black 1px;*/
    padding: 0.5em;
}

#csl-form-block {
    background:white;
    border: solid black 1px;
    padding: 0.5em;
}

.json-data {
    width: 50em;
    height:500px;
    bottom: 17em;
    left: 2em;
    background:white;
    border: solid black 1px;
    overflow-y: scroll;
    padding: 0.5em;
}
.csl-hide {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
.csl-show {
    -webkit-opacity: 100;
    -moz-opacity: 100;
    opacity: 100;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
.csl-entry {
    margin-bottom: 0.5em;
}
.csl-left-margin {
    vertical-align: top;
    right: 0.3em;
    top: 0px;
}
#my-amazing-bibliography {
    padding:1em;
    color: white ;
    background: #204762;
    margin-bottom: 1em;
}
