<head>
  <meta charset="iso-8859-1">
</head>
{{yield}}

<div class="container">
  <div class="row">
    <div class="col-sm-6" id="csl-outer-block">
      <div id="csl-inner-block">
        <div class="csl-content-block" id="csl-content-block"></div>
      </div>
    </div>
  </div>
  <!-- <button {{ action 'updatesCitations' }}>Update</button> -->
</div>

{{yield}}
