    {{ citation-display model=model }}
    <div class="container">
      <button class="btn btn-default" {{action "formShow"}}>Add Citation</button>
      <button class="btn btn-default" {{action "formHide"}}>Cancel</button>
      {{#if isClicked }}
          {{ citation-form submitted=model submit="submit" store=store saveToModel="saveToModel"}}
      {{/if}}
    </div>
